/* h5 {
  color: white;
}

h4 {
  color: white;
} */

header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

/* body {
    background-color: #E4E9FD;
    background:linear-gradient(65deg, #c4d7e6 0, #c4d7e6 33%, #66a5ad 33%, #66a5ad 66%, #ff0000 66%, #ff0000 100%); 
    background-image: -webkit-linear-gradient(75deg, #A683E3 0%, #A683E3 33%, #E4E9FD 33%, #E4E9FD 66%, #F2789F 66%, #F2789F 100%); 
    min-height: 1000px;
    font-family: 'helvetica neue';
  } */

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    opacity: 0.8;
  }

  Nav.Link{
    color: white;
    }


  .nav{
    background-color: #23a6d5;
  }

  .box {
    margin: 50px auto;
    border-radius: 7px;
    /* box-shadow: 0 2px 5px #ccc; */
    position: relative;
    /* transform: translateZ(-50px); */
    padding-bottom : 100px;
  }
  
  #heading {
    background-color: #a164d3;
    text-align: center;
    border-color: 1px black;

  }

  #item {
    background-color: #FBFFE2;
    /* background-color: black; */
    min-height: 100px;
    align-items: center;
    border: 1px solid black;
    display: flex;
    padding-left:10px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;

  
  }


  #bottom {
    background-color: #FBFFE2;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border: 1px solid black;
  }

  #submit {
    border-top: 1px solid black;
    background-color: #FBFFE2 !important;
  }

  .listapp {
    padding-top : 100px;
    max-width: 30%;
    width: auto;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
  }

  .navtext {
    color: white;
  }

  .left{
    flex: 1;
    overflow: auto;
    border-right: 1px solid black;
    cursor: pointer;
  }

  .left:hover{
    color:green;
  }

  .right{
    flex: 1;
    overflow: auto;
    border-left: 1px solid black;
    cursor: pointer;
  }

  .right:hover{
    color:red;
  }

  .input {
    background-color:  #FBFFE2;
  }

  .input2 {
    background-color: transparent;
  }

  .input2:hover{
    font-weight: bold;
  }

  form input,
  form textarea,
  form select {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    text-align: center;
  }

  .imminent{
    color: rgb(250, 140, 14) !important;
  }

  .past{
    color: red !important;
  }


  .crossed:hover {
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%),
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%);
}

.darkened {
  filter: brightness(50%)
}


.darkened:hover {
  filter: brightness(50%)
}

#drop{
  text-align: center;
  align-items: center;
  
}

input::placeholder {
  font-size: 16px;
}

.time {
color: black;
}

.dropdown-item:hover {
  background-color: transparent !important;

  font-weight: bold;
}

.dropdown-item:focus{
  background-color: transparent !important;
  
  font-weight: bold;
}

.dropdown-item2:hover {
  background-color: transparent !important;
  color: red !important;
}

.dropdown-item2:focus{
  background-color: transparent !important;
  color: red !important;
}


.dropdown-menu{
  background-color: white!important;
  
}

.nav-link{
  color: black !important;
}

.nav-link:hover{
  color: white !important;
}

.addcat{
  display: flex;
  flex-direction: column;
}

#addcat:hover{
  color: green !important;
}

#delcat:hover{
  color: red !important;
}

#addcat:focus{
  color: green !important;
}

#delcat:focus{
  color: red !important;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #510077;
  border-color: #510077 transparent #510077 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dt{
  text-align: left;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

